{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'event.admin.games.create.title'|trans %}
{% block page_title 'event.admin.games.create.title'|trans %}

{% block admin_content %}

    <div class="span6 offset3">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name, {'label': 'event.form.game.name'|trans}) }}
            {{ form_row(form.platform, {'label': 'event.form.game.platform'|trans}) }}
            {{ form_row(form.teamCapacity, {'label': 'event.form.game.team_capacity'|trans}) }}
            {{ form_row(form.submit, {'label': 'event.admin.games.create.submit'|trans}) }}
        {{ form_end(form) }}

        <p class="text-center">
            <a href="{{ path('nantarena_event_admin_games') }}">{{ 'event.admin.games.create.back'|trans }}</a>
        </p>
    </div>

{% endblock %}
