{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'news.admin.categories.delete.title'|trans %}
{% block page_title 'news.admin.categories.delete.title'|trans %}

{% block admin_content %}
    {% embed 'NantarenaSiteBundle::_deleteConfirm.html.twig' %}
        {% block warning %}
            {{ 'news.admin.categories.delete.warning'|trans }}
        {% endblock %}

        {% block info %}
            {{ 'news.admin.categories.delete.info'|trans }}
        {% endblock %}

        {% block form %}
            {{ form_row(form.category, {'label': 'news.admin.categories.delete.category'|trans}) }}
        {% endblock %}

        {% block back %}
            <a href="{{ path('nantarena_news_admin_categories_index') }}">
                {{ 'news.admin.news.back'|trans }}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
