{% extends 'NantarenaForumBundle::layout.html.twig' %}

{% block title 'forum.thread.show.title'|trans({'%thread%': thread.name}) %}

{% block forum_content %}
    {% if thread.isLocked() %}
        <p class="pull-right label label-info">
            <i class="icon-lock"></i> {{ 'forum.thread.show.locked'|trans }}
        </p>
    {% endif %}

    <h2>
        {{ thread.name }}
    </h2>

    <table class="table">
        {% for post in pagination %}
            <tr id="post-{{ post.id }}" class="forum-table-header">
                <th>{{ post.user.username }}</th>
                <th class="text-right">
                    {% include 'NantarenaForumBundle:Control:_post.html.twig' %}
                    <div class="text-right">
                        {{ post.creationDate|localizeddate('medium', 'medium') }}
                    </div>
                </th>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <div class="forum-post-content">
                        {{ post.content|e|nl2br }}
                    </div>

                    {% if post.creationDate != post.updateDate %}
                        <p class="post-edited">
                            {{ 'forum.thread.show.edited'|trans({'%date%': post.updateDate|localizeddate('medium', 'medium')}) }}
                        </p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'NantarenaForumBundle:Control:_thread.html.twig' %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}