{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'event.admin.entries.list.title'|trans %}
{% block page_title 'event.admin.entries.list.title'|trans %}

{% block admin_content %}

    <div class="text-center">
        {{ form_start(form) }}
        {{ form_widget(form.event, {'attr': {'onchange':'this.form.submit()'} }) }}
        {{ form_end(form) }}
    </div>

    <div class="text-center">
        <a class="btn" href="{{ path('nantarena_event_admin_entries_create', {
            'slug': event.slug
        }) }}">
            {{ 'event.admin.entries.create.title'|trans }}
        </a>
    </div>

    <table class="table sortable filterable" data-sort="2" data-asc="desc" data-perpage="50">
        <thead>
            <tr>
                <th data-filter="select">{{ 'event.form.entrytype.name'|trans }}</th>
                <th>{{ 'user.form.username'|trans }}</th>
                <th data-filter="date">{{ 'user.admin.users.list.registration_date'|trans }}</th>
                <th data-filter="select">{{ 'event.profile.index.team'|trans }}</th>
                <th data-filter="select">{{ 'event.profile.index.tournament'|trans }}</th>
                <th data-filter="select">{{ 'event.profile.index.payment'|trans }}</th>
                <th class="mini"></th>
            </tr>
        </thead>

        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.entryType.name }}</td>
                    <td>
                        {% if entry.user.firstname is not empty %}
                            <abbr title="{{ entry.user.email }} - {{ entry.user.firstname }} {{ entry.user.lastname|upper }}{% if entry.user.birthdate is not empty %} - {{ "now"|date('Y') - entry.user.birthdate|date('Y') }} {{ 'user.form.age'|trans }}{% endif %}" data-placement="right">
                                {{ entry.user.username }}
                            </abbr>
                        {% else %}
                            <abbr title="{{ entry.user.email }}" data-placement="right">
                                {{ entry.user.username }}
                            </abbr>
                        {% endif %}
                    </td>
                    <td>{{ entry.registrationDate|date("d/m/Y H:i") }}</td>
                    <td>--</td>
                    <td>--</td>
                    <td>Paypal</td>
                    <td>
                        <a href="{{ path('nantarena_event_admin_entries_edit', {
                            'slug': event.slug,
                            'user_id': entry.user.id
                        }) }}">
                            <i class="icon-wrench"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{{ path('nantarena_event_admin_entries_delete', {
                            'slug': event.slug,
                            'user_id': entry.user.id
                        }) }}">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        <tbody class="empty">
            <tr>
                <td colspan="8">
                    <p class="text-center">{{ 'event.admin.entries.list.empty'|trans }}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination pagination-centered"><ul></ul></div>

{% endblock %}
