{% set block_warning = block('warning') %}
{% set block_info = block('info') %}
{% set block_back = block('back') %}

<div class="span6 offset3">

    {% if block_warning is not empty %}
        <div class="alert alert-error text-center">
            <strong>{{ 'admin.delete.warning'|trans }}</strong>
            {% block warning %}{% endblock %}
        </div>
    {% endif %}

    {% if block_info is not empty %}
        <div class="alert alert-warning text-center">
            {% block info %}{% endblock %}
        </div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% block form %}
        {% endblock %}

        {% block submit %}
            {{ form_row(form.submit, {'label': 'admin.delete.submit'|trans, 'attr': {'class':'btn-danger'}}) }}
        {% endblock %}
    {{ form_end(form) }}

    {% if block_back is not empty %}
        <p class="text-center">
            {% block back %}{% endblock %}
        </p>
    {% endif %}
</div>
