<li class="left"><a href="{{ path('nantarena_news_index') }}">{{ 'site.menu.news'|trans }}</a></li>
<li class="left"><a href="{{ static_link('presentation') }}">{{ 'site.menu.whoarewe'|trans }}</a></li>
<li class="left"><a href="#">{{ 'site.menu.medias'|trans }}</a></li>

<li class="left">{{ render(controller('NantarenaEventBundle:Event:menu')) }}</li>
