<!DOCTYPE html>
<html>
    <head>
        {# balises meta (a compléter avec boilerplate) #}
        <meta charset="UTF-8" />

        {# titre de la page #}
        <title>{% block title %}{% endblock %} &ndash; Nantarena</title>

        {# chargement des assets CSS du SiteBundle (note qu'on ne peut pas utiliser @Bundle pour les fichiers CSS)#}
        {% stylesheets 'bundles/nantarenasite/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        {# fichiers CSS supplémentaires à définir #}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <ul>
                {#{% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and not is_granted('ROLE_USER') %}#}
                    {#<li><a href="{{ path('login') }}">{{ 'nav.login'|trans }}</a></li>#}
                {#{% else %}#}
                    {#<li><a href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a></li>#}
                {#{% endif %}#}
            </ul>
        </nav>

        {# contenu principal de la page #}
        {% block container %}{% endblock %}

        <footer>
            {{ 'site.authors'|trans }}
        </footer>

        {# chargement des assets JS du SiteBundle #}
        {% javascripts '@NantarenaSiteBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {# fichiers javascript supplémentaires à définir #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
