<article class="news-article">
    {% block news %}
        <header>
            <h2>
                {% block news_title %}
                    {{ 'news.news_embed.title'|trans({'%title%': news.title}) }}
                {% endblock %}
            </h2>
            <p class="news-informations">
                {% block news_informations %}
                    <a href="#">{{ news.author }}</a>
                    <span>{{ news.date|date('d/m/Y') }}</span>
                    <span>{{ news.date|date('H:i') }}</span>
                {% endblock %}
            </p>
        </header>
        <div class="news-content">
            {{ news.content|markdown }}
        </div>
        <footer>
            {% block news_footer %}
                {% block news_footer_category %}
                    <p class="news-category">
                        {% block news_category %}
                            {{ 'news.news_embed.category'|trans({'%category%': news.category })|raw }}
                        {% endblock %}
                    </p>
                {% endblock %}
                {% block news_footer_links %}
                    <p class="news-links">
                        <a href="{{ news_path(news) }}" class="btn btn-default btn-small">{{ 'news.news_embed.read'|trans }}</a>
                        <a href="{{ news_path(news) }}#comments" class="btn btn-default btn-small">{{ 'news.news_embed.comments'|transchoice(news.comments|length) }}</a>
                    </p>
                {% endblock %}
            {% endblock %}
        </footer>
    {% endblock %}
</article>