{{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <legend>{{ 'event.form.fieldset.infos'|trans }}</legend>

        <div class="row control-group">
            <div class="span6">
                {{ form_row(form.name, {'label': 'event.form.event.name'|trans|colon}) }}
                {{ form_row(form.capacity, {'label': 'event.form.event.capacity'|trans|colon}) }}
                {{ form_row(form.startDate, {'label': 'event.form.event.startDate'|trans|colon}) }}
                {{ form_row(form.endDate, {'label': 'event.form.event.endDate'|trans|colon}) }}

                {% form_theme form.rules with 'NantarenaSiteBundle:Form:resource_layout.html.twig' %}
                {{ form_row(form.rules, {'label': 'event.form.event.rules'|trans|colon}) }}

                {% form_theme form.autorization with 'NantarenaSiteBundle:Form:resource_layout.html.twig' %}
                {{ form_row(form.autorization, {'label': 'event.form.event.autorization'|trans|colon}) }}
            </div>
            <div class="span5">
                {% form_theme form.cover with 'NantarenaSiteBundle:Form:image_layout.html.twig' %}
                {{ form_row(form.cover, {'label': 'event.form.event.cover'|trans|colon}) }}
            </div>
    </fieldset>

    <fieldset>
        <legend>{{ 'event.form.fieldset.entries'|trans }}</legend>

        <div class="row control-group">
            <div class="span6">
                {{ form_row(form.startRegistrationDate, {'label': 'event.form.event.startRegistrationDate'|trans|colon}) }}
                {{ form_row(form.endRegistrationDate, {'label': 'event.form.event.endRegistrationDate'|trans|colon}) }}
            </div>
            <div class="span6">
                {% form_theme form.entryTypes with 'NantarenaSiteBundle:Form:inline_layout.html.twig' %}
                {{ form_widget(form.entryTypes, {
                    'add_text': 'event.form.entrytype.add'|trans,
                    'labels': {
                        'name': 'event.form.entrytype.name'|trans,
                        'price': 'event.form.entrytype.price'|trans
                    }
                }) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ 'event.form.fieldset.tournaments'|trans }}</legend>

        {% form_theme form.tournaments with 'NantarenaSiteBundle:Form:inline_layout.html.twig' %}
        {{ form_widget(form.tournaments, {
            'add_text': 'event.form.tournaments.add'|trans,
            'labels': {
                'game': 'event.form.tournament.game'|trans,
                'admin': 'event.form.tournament.admin'|trans,
                'maxTeams': 'event.form.tournament.maxTeams'|trans,
                'startDate': 'event.form.tournament.startDate'|trans,
                'exclusive': 'event.form.tournament.exclusive'|trans
            }
        }) }}
    </fieldset>

    {{ form_row(form.submit, {'label': submit}) }}
{{ form_end(form) }}

<p class="text-center">
    <a href="{{ path('nantarena_event_admin_events') }}">{{ 'event.admin.events.create.back'|trans }}</a>
</p>
