{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'event.admin.events.list.title'|trans %}
{% block page_title 'event.admin.events.list.title'|trans %}

{% block admin_content %}

    <div class="text-center">
        <a class="btn" href="{{ path('nantarena_event_admin_events_create') }}">
            {{ 'event.admin.events.create.title'|trans }}
        </a>
    </div>

    <h2>Prochains évènements</h2>

    <table class="table sortable" data-sort="2" data-asc="desc" data-perpage="50">
        <thead>
        <tr>
            <th data-filter="ignore" class="tiny">#</th>
            <th>{{ 'event.form.event.name'|trans }}</th>
            <th>{{ 'event.form.event.startDate'|trans }}</th>
            <th>{{ 'event.form.event.endDate'|trans }}</th>
            <th>{{ 'event.admin.events.list.registrationStart'|trans }}</th>
            <th>{{ 'event.admin.events.list.registrationEnd'|trans }}</th>
            <th>{{ 'event.form.event.capacity'|trans }}</th>
            <th class="mini"></th>
        </tr>
        </thead>

        <tbody>
        {% for event in events if date(event.endDate) > date() %}
            {% if date(event.startRegistrationDate) <= date() and date(event.startDate) >= date() %}
                <tr class="warning">
            {% else %}
                <tr class="error">
            {% endif %}

                <td>{{ event.id }}</td>
                <td>
                    <a href="{{ path('nantarena_event_show', {'slug': event.slug}) }}">
                        {{ event.name }}
                    </a>
                </td>
                <td>
                    {{ event.startDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.endDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.startRegistrationDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.endRegistrationDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.capacity }}
                </td>
                <td>
                    <a href="{{ path('nantarena_event_admin_events_edit', {'id': event.id}) }}">
                        <i class="icon-wrench"></i>
                    </a>

                    {% if date(event.startRegistrationDate) > date() %}
                        &nbsp;&nbsp;
                        <a href="{{ path('nantarena_event_admin_events_delete', {'id': event.id}) }}">
                            <i class="icon-trash"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">
                    <div class="text-center">
                        {{ 'event.admin.events.list.empty'|trans }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Anciens évènements</h2>

    <table class="table sortable" data-sort="2" data-asc="desc" data-perpage="50">
        <thead>
        <tr>
            <th data-filter="ignore" class="tiny">#</th>
            <th>{{ 'event.form.event.name'|trans }}</th>
            <th>{{ 'event.form.event.startDate'|trans }}</th>
            <th>{{ 'event.form.event.endDate'|trans }}</th>
            <th>{{ 'event.admin.events.list.registrationStart'|trans }}</th>
            <th>{{ 'event.admin.events.list.registrationEnd'|trans }}</th>
            <th>{{ 'event.form.event.capacity'|trans }}</th>
            <th class="mini"></th>
        </tr>
        </thead>

        <tbody>
        {% for event in events if date(event.endDate) < date() %}
            <tr>
                <td>{{ event.id }}</td>
                <td>
                    <a href="{{ path('nantarena_event_show', {'slug': event.slug}) }}">
                        {{ event.name }}
                    </a>
                </td>
                <td>
                    {{ event.startDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.endDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.startRegistrationDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.endRegistrationDate|date("d/m/Y H:i") }}
                </td>
                <td>
                    {{ event.capacity }}
                </td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">
                    <div class="text-center">
                        {{ 'event.admin.events.list.empty'|trans }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination pagination-centered"><ul></ul></div>

{% endblock %}
