{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'banner.admin.sponsorslide.edit.title'|trans %}
{% block page_title 'banner.admin.sponsorslide.edit.title'|trans %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/nantarenabanner/css/banneroverview.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block admin_content %}

{{ form(form) }}

<p class="text-center">
    <a href="{{ path('nantarena_banner_sponsorslide_index') }}">{{ 'banner.admin.sponsorslide.index.return'|trans }}</a>
</p>

{% include 'NantarenaBannerBundle:Admin:glance.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% javascripts '@NantarenaBannerBundle/Resources/public/js/glance.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}