{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'banner.admin.sponsorslide.index.title'|trans %}
{% block page_title 'banner.admin.sponsorslide.index.title'|trans %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/nantarenabanner/css/banneroverview.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block admin_content %}
<div class="text-center allbanner">
    <a class="btn" href="{{ path('nantarena_banner_sponsorslide_create') }}">
        {{'banner.admin.sponsorslide.create.title'|trans}}
    </a>


    <table class="table">
        <thead>
            <tr>
                <th>{{'banner.admin.sponsorslide.index.th_banniere'|trans}}</th>
                <th class="tiny">{{'banner.admin.sponsorslide.index.th_active'|trans}}</th>
                <th class="mini"></th>
            </tr>
        </thead>

        <tbody>
            {% for slide in slides %}
                {% if slide.active %}
                    <tr class="success">
                {% else %}
                    <tr>
                {% endif %}
                    <td>
                        <div class="banner-overview">
                            <div class="item">
                                <span></span>
                                <div class="banner-data">
                                    {{slide.content|raw}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="tiny">
                        {% if not slide.active %}
                            <a class="btn btn-info" href="{{ path('nantarena_banner_sponsorslide_active', { 'id': slide.id }) }}">
                            {{'banner.admin.sponsorslide.index.active'|trans}}
                            </a>
                        {% else %}
                            <a class="btn" href="{{ path('nantarena_banner_sponsorslide_disable', { 'id': slide.id }) }}">
                            {{'banner.admin.sponsorslide.index.disable'|trans}}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('nantarena_banner_sponsorslide_edit', { 'id': slide.id }) }}">
                            <i class="icon-wrench"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{{ path('nantarena_banner_sponsorslide_delete', { 'id': slide.id }) }}">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}