{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'forum.admin.forums.delete.title'|trans|trans({'%name%': forum.name}) %}
{% block page_title 'forum.admin.forums.delete.title'|trans|trans({'%name%': forum.name}) %}

{% block admin_content %}
    {% embed 'NantarenaSiteBundle::_deleteConfirm.html.twig' %}
        {% block warning %}
            {{ 'forum.admin.forums.delete.warning'|trans }}
        {% endblock %}

        {% block info %}
            {{ 'forum.admin.forums.delete.info'|trans }}
        {% endblock %}

        {% block form %}
            {{ form_row(form.forum, {'label': 'forum.admin.forums.delete.forum'|trans}) }}
        {% endblock %}

        {% block back %}
            <a href="{{ path('nantarena_forum_admin_forums_index') }}">
                {{ 'forum.admin.forum.back'|trans }}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
