<div class="span6 offset3">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'label': 'event.form.entrytype.name'|trans|colon}) }}
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}

    <p class="text-center">
        <a href="{{ path('nantarena_event_admin_entrytypes') }}">{{ 'event.admin.entrytypes.create.back'|trans }}</a>
    </p>
</div>
