{% extends 'NantarenaForumBundle::layout.html.twig' %}

{% block title 'forum.forum.title'|trans({'%forum%': forum.name}) %}

{% block forum_content %}
    <table class="table">
        <tr class="forum-table-header">
            <th>{{ forum.name }}</th>
            <th>{{ 'forum.forum.posts'|trans }}</th>
            <th>{{ 'forum.forum.activity'|trans }}</th>
        </tr>
        {% for thread in sticky_threads %}
            {% include 'NantarenaForumBundle:Forum:_line.html.twig' %}
            {% if loop.last %}
                <tr class="forum-table-header">
                    <td colspan="3" class="separator"></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% for thread in pagination %}
            {% include 'NantarenaForumBundle:Forum:_line.html.twig' %}
        {% else %}
            <tr>
                <td colspan="3">
                    {{ 'forum.forum.no_results'|trans }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'NantarenaForumBundle:Control:_forum.html.twig' %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}