{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'user.admin.users.delete.title'|trans %}
{% block page_title 'user.admin.users.delete.title'|trans %}

{% block admin_content %}

    <div class="span6 offset3">
        <div class="alert alert-error text-center">
            <strong>{{ 'user.admin.warning'|trans }}</strong>
            {{ 'user.admin.users.delete.warning'|trans }}
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.submit, {'label': 'user.admin.users.delete.submit'|trans, 'attr': {'class':'btn-danger'}}) }}
        {{ form_end(form) }}

        <p class="text-center">
            <a href="{{ path('nantarena_user_admin_users') }}">{{ 'user.admin.users.create.back'|trans }}</a>
        </p>
    </div>


{% endblock %}
