<div class="span6 offset3">
    {{ form_start(form) }}
        {{ form_row(form.name, {'label': 'news.entity.name'|trans ~ ' :'}) }}
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}

    <p class="text-center">
        <a href="{{ path('nantarena_news_admin_categories_index') }}">{{ 'news.admin.news.back'|trans }}</a>
    </p>
</div>
