<div class="span9 offset1">
    <fieldset>
        <legend>{{ 'news.form.comment.create.legend'|trans }}</legend>
        {{ form_start(form) }}
            {{ form_row(form.content, {'label': false, 'attr': {'class': 'input-block-level'}}) }}
            {{ form_row(form.submit, {'label': submit}) }}
        {{ form_end(form) }}
    </fieldset>
</div>