<fieldset>
    <legend>{{ 'news.form.delete.legend'|trans }}</legend>

    {{ form_start(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.delete) }} <a href="{{ path('nantarena_news_admin_index') }}">{{ 'news.form.delete.cancel'|trans }}</a>
    {{ form_end(form) }}
</fieldset>