<fieldset>
    <legend>{{ 'news.form.delete.legend'|trans }}</legend>

    {{ form_start(form) }}
        {{ form_row(form.id) }}

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="{{ 'news.form.delete.submit'|trans }}" />
                <a href="{{ path('nantarena_news_admin_index') }}">{{ 'news.form.delete.cancel'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}
</fieldset>