<div class="span12">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.content, {'label': 'banner.admin.headernews.form.label_content'|trans|colon}) }}
        
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}

    <p class="text-center">
        <a href="{{ path('nantarena_banner_news_index') }}">{{ 'banner.admin.headernews.index.return'|trans }}</a>
    </p>
</div>
