{% extends 'NantarenaForumBundle::layout.html.twig' %}

{% block title 'forum.index.title'|trans %}

{% block forum_content %}
    <table class="table">
        {% for category in categories if is_granted('VIEW', category) %}
            <tr class="forum-table-header">
                <th><a href="{{ forum_category_path(category) }}">{{ category.name }}</a></th>
                <th>{{ 'forum.index.threads'|trans }}</th>
                <th>{{ 'forum.index.activity'|trans }}</th>
            </tr>
            {% for forum in category.forums if is_granted('VIEW', forum) %}
                {% set first = forum.threads.first() %}
                <tr>
                    <td><a href="{{ forum_path(forum) }}">{{ forum.name }}</a></td>
                    <td>{{ forum.threads.count() }}</td>
                    <td>
                        {% if first %}
                            <p>
                                <a href="{{ thread_path(first, first.lastPage) }}#post-{{ first.posts.last().id }}">{{ first.updateDate|localizeddate('medium', 'medium') }}</a>
                            </p>
                            <p>
                                {{ first.posts.last().user.username }}
                            </p>
                        {% else %}
                            <p>
                                {{ 'forum.index.no_activity'|trans }}
                            </p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}